<section class="pt-8 bg-white">
  <div class="">
    <div>
      <div>
        <div class="mx-auto text-center px-4 mt-12 text-5xl font-semibold">Frequently
          Asked
          Questions</div>
        <dl class="mt-8 mx-auto max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl flex justify-between flex-col lg:flex-row lg:flex-wrap">
          <div class="lg:w-1/2">
            <div class="question-and-answer select-none hover:shadow-xl cursor-pointer border-2 mx-2 my-3 px-6 py-4 rounded-lg text-sm group">
              <dt class="question">
                <div class="flex justify-between">
                  <div class="text-blue-800 font-semibold">
                    What is the purpose of this website?
                  </div>
                  <div>
                    <svg fill=currentColor class="question-chevron group-hover:bg-gray-500 h-5 block text-blue-800 bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                        <g>
                          <polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8">
                          </polygon>
                        </g>
                      </g>
                    </svg>
                    <svg fill=currentColor class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-indigo-800 bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                        <g>
                          <polygon points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12">
                          </polygon>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </dt>
              <dd class="answer transition-all duration-300 hidden mt-2 leading-snug text-gray-700">
                This website allows users to create, sign, and share petitions to support various causes.
              </dd>
            </div>
          </div>
          <div class="lg:w-1/2">
            <div class="question-and-answer select-none hover:shadow-xl cursor-pointer border-2 mx-2 my-3 px-6 py-4 rounded-lg text-sm group">
              <dt class="question">
                <div class="flex justify-between">
                  <div class="text-blue-800 font-semibold">
                    How can I create a petition?
                  </div>
                  <div>
                    <svg fill=currentColor class="question-chevron group-hover:bg-gray-500 h-5 block text-blue-800 bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                        <g>
                          <polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8">
                          </polygon>
                        </g>
                      </g>
                    </svg>
                    <svg fill=currentColor class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-indigo-800 bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                        <g>
                          <polygon points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12">
                          </polygon>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </dt>
              <dd class="answer transition-all duration-300 hidden mt-2 leading-snug text-gray-700">
                To create a petition, click on the 'Create Petition' button, fill in the necessary details, and submit it for review.
              </dd>
            </div>
          </div>
          <div class="lg:w-1/2">
            <div class="question-and-answer select-none hover:shadow-xl cursor-pointer border-2 mx-2 my-3 px-6 py-4 rounded-lg text-sm group">
              <dt class="question">
                <div class="flex justify-between">
                  <div class="text-blue-800 font-semibold">
                    Is there a fee to create or sign a petition?
                  </div>
                  <div>
                    <svg fill=currentColor class="question-chevron group-hover:bg-gray-500 h-5 block text-blue-800 bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                        <g>
                          <polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8">
                          </polygon>
                        </g>
                      </g>
                    </svg>
                    <svg fill=currentColor class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-indigo-800 bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                        <g>
                          <polygon points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12">
                          </polygon>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </dt>
              <dd class="answer transition-all duration-300 hidden mt-2 leading-snug text-gray-700">
                Browsing and enrolling in existing petitions is free, but creating a petition costs 200 rupees.
              </dd>
            </div>
          </div>
          <div class="lg:w-1/2">
            <div class="question-and-answer select-none hover:shadow-xl cursor-pointer border-2 mx-2 my-3 px-6 py-4 rounded-lg text-sm group">
              <dt class="question">
                <div class="flex justify-between">
                  <div class="text-blue-800 font-semibold">
                    What happens after I sign a petition?
                  </div>
                  <div>
                    <svg fill=currentColor class="question-chevron group-hover:bg-gray-500 h-5 block text-blue-800 bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                        <g>
                          <polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8">
                          </polygon>
                        </g>
                      </g>
                    </svg>
                    <svg fill=currentColor class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-indigo-800 bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                        <g>
                          <polygon points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12">
                          </polygon>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </dt>
              <dd class="answer transition-all duration-300 hidden mt-2 leading-snug text-gray-700">
                After signing a petition, your signature is added to the list of supporters. You can share the petition to gather more support.
              </dd>
            </div>
          </div>
          <div class="lg:w-1/2">
            <div class="question-and-answer select-none hover:shadow-xl cursor-pointer border-2 mx-2 my-3 px-6 py-4 rounded-lg text-sm group">
              <dt class="question">
                <div class="flex justify-between">
                  <div class="text-blue-800 font-semibold">
                    How do I know if a petition is legitimate?
                  </div>
                  <div>
                    <svg fill=currentColor class="question-chevron group-hover:bg-gray-500 h-5 block text-blue-800 bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                        <g>
                          <polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8">
                          </polygon>
                        </g>
                      </g>
                    </svg>
                    <svg fill=currentColor class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-indigo-800 bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                        <g>
                          <polygon points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12">
                          </polygon>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </dt>
              <dd class="answer transition-all duration-300 hidden mt-2 leading-snug text-gray-700">
                We review all petitions before they are published to ensure they meet our guidelines and standards.
              </dd>
            </div>
          </div>
          <div class="lg:w-1/2">
            <div class="question-and-answer select-none hover:shadow-xl cursor-pointer border-2 mx-2 my-3 px-6 py-4 rounded-lg text-sm group">
              <dt class="question">
                <div class="flex justify-between">
                  <div class="text-blue-800 font-semibold">
                    How are users identified on this platform?
                  </div>
                  <div>
                    <svg fill=currentColor class="question-chevron group-hover:bg-gray-500 h-5 block text-blue-800 bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                        <g>
                          <polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8">
                          </polygon>
                        </g>
                      </g>
                    </svg>
                    <svg fill=currentColor class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-indigo-800 bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                        <g>
                          <polygon points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12">
                          </polygon>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </dt>
              <dd class="answer transition-all duration-300 hidden mt-2 leading-snug text-gray-700">
                Users are uniquely identified using their Aadhaar number, ensuring the authenticity and uniqueness of each user.
              </dd>
            </div>
          </div>
        </dl>
      </div>
    </div>
  </div>
  <script async src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {
      $('.question-and-answer').click(function() {
        $(this).find(".answer").toggleClass("hidden");
        $(this).find(".question-chevron").toggleClass("hidden");
      });
    });
  </script>
</section>