<section class="py-20 px-4" id="features">
  <div class="container max-w-6xl mx-auto">
    <h2 class="text-5xl font-bold tracking-tight text-center">Our Features</h2>
    <p class="mt-2 text-lg text-center text-gray-600"> Create New ePetitions for a Cause</p>
    <div class="grid grid-cols-4 gap-8 mt-10 sm:grid-cols-8 lg:grid-cols-12 sm:px-8 xl:px-0">

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/1__Y7EoMCba.png?updatedAt=1639935763181" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">User-Friendly Interface</h4>
        <p class="text-base text-center text-gray-500">Our platform offers a simple and intuitive design, making it easy for users to create new ePetitions without any hassle.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/2_v_jBWyntf.png?updatedAt=1639935763151" alt="">
        </div>
        <h4 class="text-xl font-medium text-center  text-gray-700">Customizable Templates</h4>
        <p class="text-base text-center text-gray-500">Choose from a variety of pre-designed templates tailored to different types of causes, ensuring your petition looks professional and compelling.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/3_bT5Lg2zOb.png?updatedAt=1639935762816" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">Multimedia Support</h4>
        <p class="text-base text-center text-gray-500"> Enhance your petition by adding images, videos, and documents, providing strong visual and factual support for your cause.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/4_6ha5m3xtCqu.png?updatedAt=1639935762760" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">Social Media Integration</h4>
        <p class="text-base text-center text-gray-500">Effortlessly share your petition on social media platforms to reach a wider audience and garner more support.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/5_CPGynS5QT.png?updatedAt=1639935762837" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">Progress Tracking</h4>
        <p class="text-base text-center text-gray-500"> Receive real-time updates on the number of signatures and comments your petition has received, keeping you informed about its progress.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/6_3FaYDzkp5.png?updatedAt=1639935763157" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">Guidance and Tips</h4>
        <p class="text-base text-center text-gray-500"> Access expert advice and tips on how to craft an effective petition and strategies to maximize your support base.</p>
      </div>

    </div>
    <!-- <h2 class="text-5xl font-bold tracking-tight text-center">Our Features</h2> -->
    <p class="mt-2 text-lg text-center text-gray-600"> Browse and Search Functionality</p>
    <div class="grid grid-cols-4 gap-8 mt-10 sm:grid-cols-8 lg:grid-cols-12 sm:px-8 xl:px-0">

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/1__Y7EoMCba.png?updatedAt=1639935763181" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">Browse and Search Functionality</h4>
        <p class="text-base text-center text-gray-500">Utilize advanced search and filtering options to find petitions by category, popularity, or urgency.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/2_v_jBWyntf.png?updatedAt=1639935763151" alt="">
        </div>
        <h4 class="text-xl font-medium text-center  text-gray-700">Personalized Recommendations</h4>
        <p class="text-base text-center text-gray-500"> Get tailored suggestions based on your interests and previous engagement with similar petitions.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/3_bT5Lg2zOb.png?updatedAt=1639935762816" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">One-Click Signing</h4>
        <p class="text-base text-center text-gray-500"> Sign petitions with a single click, making it quick and easy to show your support.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/4_6ha5m3xtCqu.png?updatedAt=1639935762760" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">Updates and Notifications</h4>
        <p class="text-base text-center text-gray-500"> Stay informed with regular updates and notifications about the petitions you have signed, including key milestones and outcomes.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/5_CPGynS5QT.png?updatedAt=1639935762837" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">Community Engagement</h4>
        <p class="text-base text-center text-gray-500"> Participate in forums and discussion boards to connect with other supporters and engage in meaningful discussions about the cause.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/6_3FaYDzkp5.png?updatedAt=1639935763157" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">Impact Stories</h4>
        <p class="text-base text-center text-gray-500">Read success stories and testimonials from petitions that have led to real change, inspiring you to take action and get involved.</p>
      </div>

    </div>
    <!-- <h2 class="text-5xl font-bold tracking-tight text-center">Our Features</h2> -->
    <p class="mt-2 text-lg text-center text-gray-600">  Get Protection Regarding Any Crime with Top Lawyers</p>
    <div class="grid grid-cols-4 gap-8 mt-10 sm:grid-cols-8 lg:grid-cols-12 sm:px-8 xl:px-0">

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/1__Y7EoMCba.png?updatedAt=1639935763181" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">Access to Top Lawyers</h4>
        <p class="text-base text-center text-gray-500"> Browse our directory of highly rated lawyers who specialize in various areas of criminal law.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/2_v_jBWyntf.png?updatedAt=1639935763151" alt="">
        </div>
        <h4 class="text-xl font-medium text-center  text-gray-700">Legal Consultation Services</h4>
        <p class="text-base text-center text-gray-500">Schedule consultations with expert lawyers for advice and representation tailored to your specific legal needs.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/3_bT5Lg2zOb.png?updatedAt=1639935762816" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">24/7 Support</h4>
        <p class="text-base text-center text-gray-500"> Benefit from round-the-clock access to legal help, ensuring you have support in urgent situations.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/4_6ha5m3xtCqu.png?updatedAt=1639935762760" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">Case Management Tools</h4>
        <p class="text-base text-center text-gray-500">Manage and track the progress of your legal cases with tools for document uploads, appointment scheduling, and case updates.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/5_CPGynS5QT.png?updatedAt=1639935762837" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">Legal Resources and Articles</h4>
        <p class="text-base text-center text-gray-500"> Explore our comprehensive library of legal resources, articles, and guides to educate yourself about your rights and legal procedures.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/6_3FaYDzkp5.png?updatedAt=1639935763157" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">Client Reviews and Ratings</h4>
        <p class="text-base text-center text-gray-500">Read verified reviews and ratings from other clients to help you choose the best legal representation for your situation.</p>
      </div>

    </div>
  </div>
</section>